<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Shevamilano | PRESIDENT UNIVERSITY Informatics Undergraduate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='client.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<!-- header -->
<div id="header">
<header>
    <h1><a href="#home-section">Diego Shevamilano</a></h1>
    
    <nav id="header-nav">
        <a href="#home-section">HOME</a>
        <a href="#about-section">ABOUT ME</a>
        <a href="#portfolio-section">PORTOFOLIO</a>
        <a href="#skills-section">SKILLS</a>
        <a href="#contact-section">CONTACT</a>
    </nav>
</header>
</div>

<!-- home section -->
<div id="home-section">
    <div><p>Informatics Undergraduate Student at <strong><span>PRESIDENT</span> <span>UNIVERSITY</span></strong></p></div>
    <div id="home-section-photo">
        <div id="home-section-photo-left"><img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="Self-photo"></div>
        <div id="home-section-photo-right">
            <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
            <p>Picture is taken at [description]</p>
        </div>
    </div>
</div>

<!-- about section -->
<div id="about-section">
    <div class="about-me">
        <p>
            <span><strong style="font-size: larger;">DIEGO SHEVAMILANO</strong>,</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
    </div>
    <div class="about-me">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
    </div>
</div>

<!-- portfolio section -->
<div id="portfolio-section">
    <div class="portfolio-section-project psp-left">
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="portfolio-section-project psp-right">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
    </div>
</div>

<!-- skills section -->
<div id="skills-section">
    <h1> competencies</h1>
    <div class="skills-section-competencies psp-left">
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="skills-section-competencies psp-right">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
    </div>
</div>

<!-- contact section -->
 <div id="contact-section">
    <div id="contact-section-container">
        <img src="{{ url_for('static', filename='images/dummy-pic.jpg') }}" alt="">
        <div id="contact-section-information">
            <h3><strong>DIEGO SHEVAMILANO</strong></h3>
            <span>Contact Information</span>
            <span>business.email@email.com</span>
            <span>number</span>
            <span>LinkedIn Profile Link</span>
        </div>
    </div>
</div>
</body>
</html>