<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Shevamilano | PRESIDENT UNIVERSITY Informatics Undergraduate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='client.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<header>
    <h1><a href="#home-section">Diego Shevamilano</a></h1>
    
    <nav id="header-nav">
        <a href="#home-section">HOME</a>
        <a href="#about-section">ABOUT ME</a>
        <a href="#portfolio-section">PORTOFOLIO</a>
        <a href="#skills-section">SKILLS</a>
        <a href="#contact-section   ">CONTACT</a>
    </nav>
</header>
</body>
</html>